@model Projet.Models.ReservationEventModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="body-bg">
        <ul class="social-icons pull-right hidden-xs">
            <li class="social-rss">
                <a href="#" target="_blank" title="RSS"></a>
            </li>
            <li class="social-twitter">
                <a href="#" target="_blank" title="Twitter"></a>
            </li>
            <li class="social-facebook">
                <a href="https://www.facebook.com/groups/1391877770839774/?fref=ts" target="_blank" title="Facebook"></a>
            </li>
            <li class="social-googleplus">
                <a href="#" target="_blank" title="GooglePlus"></a>
            </li>
        </ul>
        <div id="pre-header" class="container" style="height:340px">
        </div>
        <div id="header">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="index.html" title="">
                            <img src=@Url.Content("~/Content/img/logo.png") alt="Logo" />
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>
            </div>
        </div>
        <!-- Top Menu -->
        <div id="hornav" class="container no-padding">
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="text-center visible-lg">
                        <ul id="hornavmenu" class="nav navbar-nav">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Pages", "Index", "Page")
                            </li>
                            <li>
                                @Html.ActionLink("Offers", "Index", "Offer")
                            </li>
                            <li>
                                @Html.ActionLink("Events", "Index", "Event")
                            </li>
                            <li>
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>
                            @Html.Partial("_LoginPartial")
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Menu -->

        <br />
        <br />
        <!-- === END HEADER === -->
        <div id="content-top-border" class="container">
        </div>
        <div class="container background-white">

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>ReservationEventModel</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.unitPrice)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.unitPrice)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ticketsNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ticketsNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ReservationStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReservationStatus)
                    </dd>

                </dl>

                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()



                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> 

                    </div>
    }
            </div>

        </div>
        <div id="content-top-border" class="container">
        </div>
       


        <!-- === BEGIN FOOTER === -->

        <div id="base">
            <div class="container padding-vert-30 margin-top-60">
                <div class="row">
                    <!-- Contact Details -->
                    <div class="col-md-4 margin-bottom-20">
                        <h3 class="margin-bottom-10">Contact Details</h3>
                        <p>
                            <span class="fa-phone">Telephone:</span>(212)888-77-88
                            <br>
                            <span class="fa-envelope">Email:</span>
                            <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                            <br>
                            <span class="fa-link">Website:</span>
                            <a href="http://www.joomla51.com">www.joomla51.com</a>
                        </p>
                        <p>
                            The Dunes, Top Road,
                            <br>Strandhill,
                            <br>Co. Sligo,
                            <br>Ireland
                        </p>
                    </div>
                    <!-- End Contact Details -->
                    <!-- Sample Menu -->
                    <div class="col-md-3 margin-bottom-20">
                        <h3 class="margin-bottom-10">Sample Menu</h3>
                        <ul class="menu">
                            <li>
                                <a class="fa-tasks" href="#">Placerat facer possim</a>
                            </li>
                            <li>
                                <a class="fa-users" href="#">Quam nunc putamus</a>
                            </li>
                            <li>
                                <a class="fa-signal" href="#">Velit esse molestie</a>
                            </li>
                            <li>
                                <a class="fa-coffee" href="#">Nam liber tempor</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- End Sample Menu -->
                    <div class="col-md-1"></div>
                    <!-- Disclaimer -->
                    <div class="col-md-3 margin-bottom-20 padding-vert-30 text-center">
                        <h3 class="color-gray margin-bottom-10">Join our Newsletter</h3>
                        <p>
                            Sign up for our newsletter for all the
                            <br>latest news and information
                        </p>
                        <input type="email">
                        <br>
                        <button class="btn btn-primary btn-lg margin-top-20" type="button">Subscribe</button>
                    </div>
                    <!-- End Disclaimer -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Footer Menu -->
        <!-- End Footer Menu -->
        <!-- JS -->
        <script type="text/javascript" src=@Url.Content("~/Content/js/jquery.min.js") type="text/javascript"></script>
        <script type="text/javascript" src=@Url.Content("~/Content/js/bootstrap.min.js") type="text/javascript"></script>
        <script type="text/javascript" @Url.Content("~/Content/js/scripts.js")></script>
        <!-- Isotope - Portfolio Sorting -->
        <script type="text/javascript" @Url.Content("~/Content/js/jquery.isotope.js") type="text/javascript"></script>
        <!-- Mobile Menu - Slicknav -->
        <script type="text/javascript" @Url.Content("~/Content/js/jquery.slicknav.js") type="text/javascript"></script>
        <!-- Animate on Scroll-->
        <script type="text/javascript" @Url.Content("~/Content/js/jquery.visible.js") charset="utf-8"></script>
        <!-- Sticky Div -->
        <script type="text/javascript" @Url.Content("~/Content/js/jquery.sticky.js") charset="utf-8"></script>
        <!-- Slimbox2-->
        <script type="text/javascript" @Url.Content("~/Content/js/slimbox2.js") charset="utf-8"></script>
        <!-- Modernizr -->
        <script @Url.Content("~/Content/js/modernizr.custom.js") type="text/javascript"></script>
        <!-- End JS -->
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}